<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KFC.WebMessageTypes" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="KFC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
      
    </configSections>

  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="MyAppender" />
    </root>
    <appender name="MyAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level %logger - %message%newline" />
      </layout>
    </appender>
  </log4net>    
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <KFC.WebMessageTypes>
            <setting name="Update" serializeAs="String">
                <value />
            </setting>
        </KFC.WebMessageTypes>
        <KFC.Properties.Settings>
            <setting name="getStatus" serializeAs="String">
                <value>&lt;action type="getStatus"&gt;&lt;/action&gt;</value>
            </setting>
            <setting name="getCatalogList" serializeAs="String">
                <value>&lt;action type="getCatalogList"&gt;&lt;/action&gt;</value>
            </setting>
            <setting name="general" serializeAs="String">
                <value>&lt;action type="setVolume" volume_type="general"&gt;{0}&lt;/action&gt;</value>
            </setting>
            <setting name="bv" serializeAs="String">
                <value>&lt;action type="setVolume" volume_type="bv"&gt;{0}&lt;/action&gt;</value>
            </setting>
            <setting name="lead1" serializeAs="String">
                <value>&lt;action type="setVolume" volume_type="lead1"&gt;{0}&lt;/action&gt; </value>
            </setting>
            <setting name="lead2" serializeAs="String">
                <value>&lt;action type="setVolume" volume_type="lead2"&gt;{0}&lt;/action&gt; </value>
            </setting>
            <setting name="play" serializeAs="String">
                <value>&lt;action type="play"&gt;&lt;/action&gt;</value>
            </setting>
            <setting name="pause" serializeAs="String">
                <value>&lt;action type="pause"&gt;&lt;/action&gt;</value>
            </setting>
            <setting name="next" serializeAs="String">
                <value>&lt;action type="next"&gt;&lt;/action&gt;</value>
            </setting>
            <setting name="seek" serializeAs="String">
                <value>&lt;action type="seek"&gt;{0}&lt;/action&gt; </value>
            </setting>
            <setting name="pitch" serializeAs="String">
                <value>&lt;action type="pitch"&gt;{0}&lt;/action&gt;</value>
            </setting>
            <setting name="tempo" serializeAs="String">
                <value>&lt;action type="tempo"&gt;{0}&lt;/action&gt;</value>
            </setting>
        </KFC.Properties.Settings>
    </userSettings>
</configuration>
